body {
	font-family: Arial, Helvetica, sans-serif;
}

td {
	font-family: Arial, Helvetica, sans-serif;
}

th {
	font-family: Arial, Helvetica, sans-serif;
}.ct12 {
	
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
	font-size: 8px;
	color: #666666;
}
.biaodan {
	border: 0px solid #999999;
	font-family: "ו";
	font-size: 12px;
	line-height: 18px;
}
